/* .textarea{
    width: 100%;
    height: 3} */

.contact2col {
  margin: 130px 150px;
}
.submitbtn:hover {
  color: #fff;
}

@media (max-width: 400px) {
    .submitbtn{
        margin-left: 25px;
        /* align-self: center; */
    }
  .contact2col {
    margin: 20px 80px;
  }
  .clog{
    display: none;
  }
  .contactme{
    font-size: 20px;
    width: 200px;
    margin-left: -10px;
  }
}
